<div>
  <div class="board">
    <div paint-cell="$ctrl.state[0]" game="$ctrl.state" class="board__cell"></div>
    <div paint-cell="$ctrl.state[3]" game="$ctrl.state" class="board__cell"></div>
    <div paint-cell="$ctrl.state[6]" game="$ctrl.state" class="board__cell"></div>
    <div paint-cell="$ctrl.state[1]" game="$ctrl.state" class="board__cell"></div>
    <div paint-cell="$ctrl.state[4]" game="$ctrl.state" class="board__cell"></div>
    <div paint-cell="$ctrl.state[7]" game="$ctrl.state" class="board__cell"></div>
    <div paint-cell="$ctrl.state[2]" game="$ctrl.state" class="board__cell"></div>
    <div paint-cell="$ctrl.state[5]" game="$ctrl.state" class="board__cell"></div>
    <div paint-cell="$ctrl.state[8]" game="$ctrl.state" class="board__cell"></div>

    <div ng-if="$ctrl.locked" class="board__overlay"></div>
  </div>

</div>
