.stats{
  color: white;
  font-size: 18px;
  font-family: arial;
  &__title{
    font-size: 40px;
    font-family: 'Pattaya', sans-serif;
    text-align: center;
    margin-bottom: 30px;
  }
  &__opponentImg{
    max-width: 100%;
  }
}
