.login{
  margin-top: 10px;
  &--button{
    font-size: 18px;
    color: $col2;
    font-family: arial;
    border-radius: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: all .2s;
    cursor: pointer;
    padding: 20px;
  }
  &--button:hover{
    transform:scale(1.02);
  }
  
  .login--button.login--button--local{
    border: 2px solid $col2;
  }
  .login--button.login--button--facebook{
    border: 2px solid $col3;
  }
  .login--button.login--button--realtime{
    border: 2px solid $col5;
  }
  .login--button.login--button--settings{
    border: 2px solid $col7;
  }
}
