.multiplayer{
  font-size: 18px;
  font-family: arial;
  color: white;

  h1 {
    font-size: 40px;
    font-family: 'Pattaya', sans-serif;
    text-align: center;
  }
  h2 {
    font-size: 30px;
    text-align: center;
  }
  &--box{

    &--el{
      padding: 5px;
      text-align: center;
      border: 1px solid $col2;
      border-radius: 1px;
      text-shadow: 1px;
      transition: all .2s;
      color: $col2;
      background-color: $col3;
    }
    &--el:hover{
      cursor: pointer;
      transform: scale(1.01);
    }
  }
}
