.multiplayer{
  font-size: 18px;
  font-family: arial;
  color: white;

  h1 {
    font-size: 40px;
    font-family: 'Pattaya', sans-serif;
    text-align: center;
  }
  h2 {
    font-size: 30px;
    text-align: center;
  }
  &--box{


  }
  &--img{
    border: 1px solid black;
  }

  &--name{

  }

  &--box:hover{
    cursor: pointer;
    //transform: scale(1.005);
  }
}

.card{
  background-color: rgba(0,0,0,0.2);
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.2);
  /* padding: 15px; */
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
  margin-top: 15px;
  overflow: hidden;
  position: relative;

  &__img{
    height: 100px;
    margin-right: 10px;
  }

  &__cta{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-color: $col5;
    border: 0;
    color: darken($col5, 20%);
    text-shadow: 0 -1px lighten($col5, 10%);
  }
}
