.multiplayer{
  font-size: 18px;
  font-family: arial;
  color: white;

  h1 {
    font-size: 40px;
    font-family: 'Pattaya', sans-serif;
    text-align: center;
  }
  h2 {
    font-size: 30px;
    text-align: center;
  }
  .card{
    cursor: pointer;
    background-color: rgba(0,0,0,0.2);
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 12px 15px 20px 0px rgba(0,0,0,0.30);
    margin-top: 30px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
    &__img{
      height: 100px;
      margin-right: 10px;
    }

    &__cta{
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      background-color: $col5;
      border: 0;
      color: darken($col5, 20%);
      text-shadow: 0 -1px lighten($col5, 10%);
    }
  }
  .card:hover{
    box-shadow: 2px 4px 8px 0px rgba(0,0,0,0.2);
  }
}
