.settings{
  color: white;
  font-family: arial;
  font-size: 18px;
  h1{
    font-size: 40px;
    font-family: 'Pattaya', sans-serif;
    text-align: center;
  }
  &__bordered{
    border-top: 1px solid grey;
    margin-top: 15px;
  }
  &__head{
    margin: 10px;
    padding: 10px;
  }


  &__content{
    display: inline-block;
    margin: 10px;
    border: 1px solid $col1;
    border-radius: 2px;

    &__el{
      border-radius: 2px;
      display: inline-block;
      animation: all .2s;
      cursor: pointer;
      padding: 10px;
      //border-right: 1px solid $col7;
      box-shadow: 12px 15px 20px 0px rgba(0,0,0,0.1);
      &__selected{
        background-color: $col1;
        box-shadow: 2px 4px 8px 0px rgba(0,0,0,1);
        //border: 1px solid $col7;
      }
    }
    &__el:hover{
      background-color: $col1;
      box-shadow: 2px 4px 8px 0px rgba(0,0,0,1);
      //border: 1px solid $col7;
    }
  }
}
