<div class="chat" draggable>
  <div style="position: relative; width: 100%; height: 100%">

    <img ng-show="!$ctrl.chatOpened" class="chat__logo" ng-src="assets/images/chat.png"
      alt="no img">
    <img ng-if="$ctrl.lastMsgRead === false" ng-src="assets/images/one-message.png"
      class="chat__toread" alt="no img">

    <div ng-if="$ctrl.chatOpened" style="text-align: center; color: grey">
      Today
    </div>
    <div ng-if="$ctrl.chatOpened" class="chat__container">
      <div ng-repeat="message in $ctrl.messages" style="overflow: auto;
        margin-bottom: 10px" ng-style="$first && {'margin-top': '10px'}">
        <div class="chat__col2">
          <img class="chat__userImg" ng-src="{{message.img}}" width="32" alt="no img">
        </div>
        <div class="chat__col10">
          <span class="chat__username">{{message.name}}</span>
          <span class="chat__message">{{message.msg}}</span>
        </div>
      </div>

    </div>

    <div class="chat__textarea" ng-if="$ctrl.chatOpened">
      <textarea ng-keydown="$event.keyCode === 13 && $ctrl.message && $ctrl.addMessage($event)"
        ng-model="$ctrl.message" placeholder="Message.."></textarea>
    </div>
  </div>

</div>
