$col1: #2A2C2B; //grey
$col2: #FFFAD5; //white
$col3: #FFD34E; //yellow
$col4: #DB9E36; //dark yellow
$col5: #DC3522; //red
$col6: #BAC2C1; //blue
$col7: #64554F; //dark brown
$col8: #8D7261; //brown
$col9: #7B856B; //dark green 
