.header {

  color: $col2;
  text-align: center;
  margin-bottom: 50px;

  h1 {
    font-size: 80px;
    font-family: 'Pattaya', sans-serif;
  }
  p{
    font-family: arial;
    line-height: 21px
  }
}

.triflix-header{
  margin-top: 10px;
  color: $col2;
  font-family: arial, sans-serif;
}
