<div class="col-sm-12">
  <div class="header">
    <h1>TicTacToe</h1>
    <p>Cras ultricies ligula sed magna dictum porta.</p>
  </div>
  <div class="col-sm-4 col-sm-offset-4">
    <a class="btn btn-block btn-social btn-facebook" ng-click="login.login()"
    ng-href="https://triflixbe.herokuapp.com/auth/facebook">
      <span class="fa fa-facebook"></span>
      Sign in with Facebook
    </a>
  </div>
</div>

<!--
http://localhost:3002/auth/facebook
https://triflixbe.herokuapp.com/auth/facebook
-->
